.content {
  width: 85%;
  margin-top: 15vh;
  height: 70vh;
}

.col-md-5.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
